body {
    background-color: white;
    overflow: hidden;
    font-family:"trebuchet ms",sans-serif;
    font-size:90%;
	display:flex;
	margin-left: 50px;
}

#formulaire{
	background-color:#FAFAFA;
	padding:10px;
	

}

fieldset {
	padding:0 20px 20px 20px;
	margin-bottom:10px;
	border:1px solid #111111;
}

legend {
	color:#111111;
	font-weight:bold
}

label {
	margin-top:10px;
}


input[type=submit], input[type=reset] {
	width:100px;
	margin-left:5px;
	cursor:pointer;
	padding: 5px;
	border: solid 3px #c9c9c9;
	border-radius : 5px;
}

button{
	width:100px;
	margin-left:5px;
	cursor:pointer;
	padding: 5px;
	border: solid 3px #c9c9c9;
	border-radius : 5px;
}

input[type=number] {
	width:50px;
	padding: 5px;
	border: solid 3px #c9c9c9;
	border-radius : 5px;
}